<?xml version="1.0"?>
<configuration>
  <!--<connectionStrings>
    <add name="conString" connectionString="Data Source=.\SQLExpress;database=Northwind;Integrated Security=true"/>
  </connectionStrings>-->
  <connectionStrings>
    <!--uid=;pwd=;-->
    <!--localhost\SQLSERVER-->
    <add name="ResultManagerConnectionString" connectionString="Data Source=(local);Initial Catalog=eLibraryDB; Integrated Security=false; uid=sa;password=p@ssw0rd;Connect Timeout=600;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="6000000" maxRequestLength="2147483647" />
    <customErrors mode="Off"/>
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--<add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>-->
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
  <system.net/>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <defaultDocument enabled="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>